img{
    max-width:100%;
    height :150px;
}
.container-fluid{
    padding-left: 10px;
    padding-right: 10px;
    
}
.navbar{
    background-image: url("/images/akan.jpg");
    /* opacity: 0.8; */
    
}
#intro{
    font-family: Lucida Handwriting;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color :#752643;
}
.col-md-3{
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-left:10px;
}
#sbmt{
    background-image: url("/images/akan.jpg");
}
.card-body{
    text-align: center;
    border: 3px solid green;
    border-radius: 5px;
}