img{
    max-width:100%;
    height :130px;
}
.container-fluid{
    padding-left: 10px;
    padding-right: 10px;
    
}
.navbar{
    background-image: url("/images/akan.jpg");
    /* opacity: 0.8; */
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color :#752643;
}
.col-md-3{
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-left:10px;
}
body{
    background-color:lightpink
}
.card-body{
    text-align: center;
}